@model IEnumerable<MasterApplication.Areas.Admin.Models.SecurityQuestionsModel>

@{ ViewData["Title"] = "SecurityQuestions";
    Layout = "~/Pages/Shared/_Layout.cshtml"; }

<div class="breadcrumb-header justify-content-between">
    <div>
        <h4 class="content-title mb-2">Security Questions Master</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body ">
                <a class="btn btn-outline-primary btn-sm mb-1" asp-area="Admin" asp-controller="SecurityQuestions" asp-action="Create"><i class="fe fe-plus me-2"></i>Add New</a>
                <div class="row">
                    <div class="col-md-12 mr-0 mt-3">
                        <table id="gvMaster" class="table-sm table border-dark table-bordered table-responsive-lg">
                            <thead>
                                <tr>
                                    <th>QUESTION</th>
                                    <th>CODE</th>
                                    <th>LOCKED</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/PageJS/Admin/SecurityQuestions.js"></script>
    @if (TempData["Message"] != null)
    {
<script type="text/javascript">
    $(document).ready(function () {
        if ('@TempData["Message"].ToString().Split('|')[0]' == "success") {
            toastr.success('@TempData["Message"].ToString().Split('|')[1]');
        }
        else if ('@TempData["Message"].ToString().Split('|')[0]' == "error") {
            toastr.error('@TempData["Message"].ToString().Split('|')[1]');
        }
        else if ('@TempData["Message"].ToString().Split('|')[0]' == "warning") {
            toastr.warning('@TempData["Message"].ToString().Split('|')[1]');
        }
        else if ('@TempData["Message"].ToString().Split('|')[0]' == "info") {
            toastr.info('@TempData["Message"].ToString().Split('|')[1]');
        }

    })
</script>}
}
