@model MasterApplication.Areas.Admin.Models.UserMasterModel
@{ ViewData["Title"] = "User Create";
    Layout = "~/Pages/Shared/_Layout.cshtml"; }

<div class="breadcrumb-header justify-content-between">
    <div>
        <h4 class="content-title mb-2">Create User</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body ">
                <div class="pd-5 pd-sm-5 bg-gray-100">

                    <form asp-area="Admin" asp-action="Create" asp-controller="UserMaster" class="form-horizontal">
                        <div class="row">

                            <div class="form-group col-md-4">
                                <label class="control-label">UserName</label>
                                <input asp-for="USERNAME" class="form-control form-control-sm mandatory" autocomplete="off"/>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Full Name</label>
                                <input asp-for="FULLNAME" class="form-control form-control-sm" autocomplete="off"/>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Security Question</label>
                                <select id="drpEmpList" asp-for="SECURITYQUESTION" class="form-control form-control-sm mandatory">
                                    @foreach (var security in ViewBag.SecurityMaster)
                                    {
                        <option value=@security.Value>@security.SECURITYQUESTION</option>}
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Security Answer</label>
                                <input asp-for="SECURITYANSWER" class="form-control form-control-sm mandatory" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-1.1">
                                <div class="form-check  ">
                                    <input type="checkbox" asp-for="ISADMIN" class="form-check-input" />
                                    <label class="form-check-label">Admin Rights</label>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="form-check ">
                                    <input type="checkbox" asp-for="ISADUSER" class="form-check-input" />
                                    <label class="form-check-label">Domain User</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-4">
                                <div class="bd-example">
                                    <button type="submit" id="btnSubmit" onclick="return CheckMandatory();" class="btn btn-outline-primary btn-sm mb-1">
                                        <i class="fe fe-check me-2"></i>Submit
                                    </button>
                                    <a class="btn btn-outline-danger btn-sm mb-1" href="/Admin/UserMaster/Index"><i class="fe fe-arrow-left me-2"></i>
                                    Back</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*<script src="~/PageJS/UserMaster.js" asp-append-version="true"></script>*@
    <script src="~/PageJS/Admin/UserMaster.js"></script>
    @if (TempData["Message"] != null)
    {
<script type="text/javascript">
    $(document).ready(function () {
        if ('@TempData["Message"].ToString().Split('|')[0]' == "success") {
            toastr.success('@TempData["Message"].ToString().Split('|')[1]');
        }
        else if ('@TempData["Message"].ToString().Split('|')[0]' == "error") {
            toastr.error('@TempData["Message"].ToString().Split('|')[1]');
        }
        else if ('@TempData["Message"].ToString().Split('|')[0]' == "warning") {
            toastr.warning('@TempData["Message"].ToString().Split('|')[1]');
        }
        else if ('@TempData["Message"].ToString().Split('|')[0]' == "info") {
            toastr.info('@TempData["Message"].ToString().Split('|')[1]');
        }

    })
</script>
}
}
